body
{
    overflow: hidden;
    background: linear-gradient(90deg, rgba(58,180,165,1) 0%, rgba(153,136,136,1) 15%, rgba(107,193,22,1) 100%);
}


.first_heading{
    text-align: center;
    font-family: cursive, sans-serif, serif;
}

/*CSS for canvas here*/
#game
{   
    background-color: white;
    border: 1px dotted black;
    max-width: 100%;
    max-height: 100%;
    /*Canvas to center over there*/
    display: block;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    
}

